.ifpb-painel-cadastro {
   font-size: 1em !important;
   color: #000 !important;
   font-family: Calibri, Arial !important;
   background-color: #ececff !important;
}

.ifpb-painel-column table {
	border-spacing: 15px;
	border-collapse: separate;
}

.ifpb-painel-column {
	padding: 10px;
}

.ifpb-title-form {
	color: #5A738E;
}

.ifpb-button-table {
	padding: 1px 7px !important;
	background-color: #E6E6D8 !important;
}

.ifpb-no-data {
	color: orange;
	font-style: italic;
}

.ifpb-membros-colegiado-ul {
    padding-left:5px;
}

.ui-widget-header {
	background-color: #cccccc;
}

/* .ui-widget, .ui.button { */
/* 	font-size: initial; */
/* } */
/* .ui-panel-title { */
/* 	font-size: initial; */
/* } */

.ui-outputlabel-rfi {
    line-height: 19.1167px !important;
}

.ui-datatable-odd {
    background: none repeat scroll 0 0 #eeeeff;
}

