<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<f:facet name="first">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" type="image/png"	href="../resources/images/favicon.png" />
		<title>Collegialis</title>
	</f:facet>

	<f:facet name="middle">
		<!-- Bootstrap -->
		<h:outputStylesheet library="bootstrap" name="css/bootstrap.css"
			target="head" />
	</f:facet>

	<f:facet name="last">
		<!-- Font Awesome -->
		<h:outputStylesheet library="font-awesome" name="css/font-awesome.css"
			target="head" />
		<!-- iCheck -->
		<h:outputStylesheet library="iCheck" name="css/green.css"
			target="head" />
<!-- 		<h:outputScript library="jquery" name="js/jquery.min.js" target="body" /> -->
		<h:outputScript library="bootstrap" name="js/bootstrap.min.js"
			target="body" />
		<!-- Custom Theme Style and Javascript-->
		<h:outputStylesheet library="gentellela" name="css/custom.min.css"
			position="last" target="body" />
		<h:outputScript library="gentellela" name="js/custom.min.js"
			target="body" />
			
		<h:outputStylesheet library="css" name="collegialis.css"
			 target="body" />
		<h:outputScript library="js" name="funcoes.js"
			target="body" />
	</f:facet>
</h:head>

<h:body styleClass="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="index.html" class="site_title"> <h:graphicImage
								library="images" name="logot.png" width="30;" /> <span>Collegialis</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile">
						<div class="profile_pic">
							<h:graphicImage library="images" name="fred.jpg" alt="..."
								styleClass="img-circle profile_img"></h:graphicImage>
						</div>
						<div class="profile_info">
							<span>Bem vindo,</span>
							<h2>#{loginBean.logado.prenome}</h2>
						</div>
					</div>

					<div id="sidebar-menu"
						class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<ui:insert name="menu">
								<ui:include src="menu.xhtml"/>
							</ui:insert>
						</div>
					</div>
				</div>
			</div>



			<div class="top_nav">
				<div class="nav_menu">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>
						<h:form>
							<ul class="nav navbar-nav navbar-right">
								<li class=""><a href="javascript:;"
									class="user-profile dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false"> <h:graphicImage library="images"
											name="fred.jpg" alt="..." />#{loginBean.logado.prenome} <span
										class=" fa fa-angle-down"></span>
								</a>
									<ul class="dropdown-menu dropdown-usermenu pull-right">
										<li><a href="javascript:;">Perfil</a></li>
										<li><a href="javascript:;"> <span
												class="badge bg-red pull-right">50%</span> <span>Configurações</span>
										</a></li>
										<li><a href="javascript:;">Ajuda</a></li>
										<li><h:commandLink action="#{loginBean.sair}">
												<i class="fa fa-sign-out pull-right"></i> Log Out</h:commandLink></li>
									</ul></li>

								<li role="presentation" class="dropdown"><a
									href="javascript:;" class="dropdown-toggle info-number"
									data-toggle="dropdown" aria-expanded="false"> <i
										class="fa fa-envelope-o"></i> <span class="badge bg-green">6</span>
								</a>
									<ul id="menu1" class="dropdown-menu list-unstyled msg_list"
										role="menu">
										<li><a> <span class="image"><img
													src="resources/default/images/fred.jpg" alt="Profile Image" /></span>
												<span> <span>John Smith</span> <span class="time">3
														mins ago</span>
											</span> <span class="message"> Film festivals used to be
													do-or-die moments for movie makers. They were where... </span>
										</a></li>
										<li><a> <span class="image"><img
													src="resources/default/images/fred.jpg" alt="Profile Image" /></span>
												<span> <span>John Smith</span> <span class="time">3
														mins ago</span>
											</span> <span class="message"> Film festivals used to be
													do-or-die moments for movie makers. They were where... </span>
										</a></li>
										<li><a> <span class="image"><img
													src="resources/default/images/fred.jpg" alt="Profile Image" /></span>
												<span> <span>John Smith</span> <span class="time">3
														mins ago</span>
											</span> <span class="message"> Film festivals used to be
													do-or-die moments for movie makers. They were where... </span>
										</a></li>
										<li><a> <span class="image"><img
													src="resources/default/images/fred.jpg" alt="Profile Image" /></span>
												<span> <span>John Smith</span> <span class="time">3
														mins ago</span>
											</span> <span class="message"> Film festivals used to be
													do-or-die moments for movie makers. They were where... </span>
										</a></li>
										<li>
											<div class="text-center">
												<a> <strong>See All Alerts</strong> <i
													class="fa fa-angle-right"></i>
												</a>
											</div>
										</li>
									</ul></li>
							</ul>
						</h:form>
					</nav>
				</div>
			</div>
			<div class="right_col" role="main">
				<ui:insert name="main">
					<ui:include src="info.xhtml"></ui:include>
				</ui:insert>

			</div>
			<footer>
				<div class="pull-right">
					Gentelella - Bootstrap Admin Template by <a
						href="https://colorlib.com">Colorlib</a>
				</div>
				<div class="clearfix"></div>
			</footer>
		</div>
	</div>
	
	<!-- Ajustes de css para compatibilidade entre Gentellela e Bootsface -->
	<style type="text/css">
	/*<![CDATA[*/
	body {
		background: #2A3F54 !important;
		font-size: 11pt !important;
		line-height: inherit;
	}
	.container {
		width: 100% !important;
		padding-left: 0px;
		padding-right: 0px;
	}
	.nav > li > a {
		padding: 13px 15px 	12px !important;
	}
	.nav > li > a:hover, .nav > li > a:focus {
    	background-color: transparent !important;
	}
	.ui-widget {
    	font-size: 1.0em;
	}	
	.ui-state-highlight{
		background-color: #666666;
	}
	.ui-selectonemenu-trigger, .ui-selectonemenu-label {
		box-sizing: unset !important;
	}
	.ui-datepicker-trigger {
    	display: initial !important;
	}
	/*]]>*/
	</style>
</h:body>

</html>
