<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:b="http://bootsfaces.net/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:component>

	<h:form id="form-menu">
		<h3>Menu Principal</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-university"></i> Colegiado <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><h:commandLink action="/colegiado/consulta?faces-redirect=true">Consultar colegiados</h:commandLink></li>
					<li><a href="form.html">Planejar reunião</a></li>
					<li><a href="form_advanced.html">Realizar reunião</a></li>
				</ul></li>
			<li><a><i class="fa fa-list-alt"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><h:commandLink action="/aluno/consulta?faces-redirect=true">Alunos</h:commandLink></li>
					<li><h:commandLink action="/assunto/consulta?faces-redirect=true">Assuntos</h:commandLink></li>
					<li><h:commandLink action="/curso/consulta?faces-redirect=true">Cursos</h:commandLink></li>
					<li><h:commandLink action="/professor/consulta?faces-redirect=true">Professores</h:commandLink></li>
				</ul></li>

		</ul>
	</h:form>
</ui:component>
</html>
