<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">

		<p:messages errorStyle="color:red" infoStyle="color:blue"
			autoUpdate="true" closable="true" style="font-size: 12px;" />

		<h:form id="form-cad-assunto">
			<h4 class="ifpb-title-form">
				<i class="fa fa-comment-o" /> Cadastro de Assunto
			</h4>
			<p:panel header="Novo assunto" styleClass="ifpb-painel-cadastro" style="width:85%;">
				<h:panelGrid columns="2" columnClasses="ifpb-painel-column">
					<h:panelGroup>
						<p:outputLabel value="Descrição" for="descricao" /><br/>
						<p:inputText id="descricao" tabindex="1" size="90" maxlength="255"
							value="#{cadastroAssunto.assunto.descricao}" required="true" />
					</h:panelGroup>
				</h:panelGrid>
			</p:panel>
			<br/>
			<p:commandButton value="Salvar"
				action="#{cadastroAssunto.salvar}" styleClass="ui-priority-primary"
				icon="fa fa-save" update="form-cad-assunto" style="font-size:1.1em"/>

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-assunto:descricao").focus();
				return false;
			})();
		</script>



	</ui:define>

</ui:composition>

</html>