<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:b="http://bootsfaces.net/ui"
	xmlns:p="http://primefaces.org/ui" xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">


		<h:form id="form-cad-aluno">

			<p:messages id="msgs" errorStyle="color:red" infoStyle="color:blue" autoUpdate="true" closable="true"
				style="font-size: 12px;" />

			<h4 class="ifpb-title-form">
				<i class="fa fa-comment-o" /> Cadastro de assuntos
			</h4>
			
			<div><p:spacer height="30px" /></div>

			<b:commandButton value="Assunto" action="/assunto/cadastro?faces-redirect=true" ajax="false" icon-awesome="plus" look="primary"/>

			<div><p:spacer height="20px" /></div>

			<p:dataTable var="assunto" value="#{consultaAssunto.assuntos}" emptyMessage="Não há assuntos cadastrados"
				style="width:50%;" styleClass="table table-striped table-bordered" editable="true">
				
				<p:ajax event="rowEdit" listener="#{consultaAssunto.editaLinha}" update=":form-cad-aluno:msgs" />
				<p:ajax event="rowEditCancel" listener="#{consultaAssunto.cancelaEditaLinha}" update=":form-cad-aluno:msgs" />

				<p:column headerText="Descrição">
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{assunto.descricao}" />
						</f:facet>
						<f:facet name="input">
							<p:inputText id="descricao" value="#{assunto.descricao}" style="width:100%" label="Descrição" />
						</f:facet>
					</p:cellEditor>
				</p:column>

				<p:column style="width:55px;text-align:center;" >
					<p:rowEditor />
				</p:column>

				<f:facet name="footer">
       				 Total de #{fn:length(consultaAssunto.assuntos)} assuntos.
   				 </f:facet>
			</p:dataTable>
		</h:form>
	</ui:define>

</ui:composition>

</html>