<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">
		<h:form id="form-cad-curso">
			<h4 class="ifpb-title-form">
				<i class="fa fa-group" /> #{cadastroColegiado.tituloForm}
			</h4>
			<div>
				<p:spacer height="30px" />
			</div>
			<p:messages errorStyle="color:red" infoStyle="color:blue" autoUpdate="true" closable="true" style="font-size: 12px;" />
			<p:panel header="Dados do colegiado" styleClass="ifpb-painel-cadastro" style="width:65%;">
				<h:panelGrid columns="2" columnClasses="ifpb-painel-column,ifpb-painel-column" style="width:100%">
					<h:panelGroup>
						<p:outputLabel value="Descrição" for="descricao" />
						<p:inputText value="#{cadastroColegiado.colegiado.descricao}" id="descricao" tabindex="1" size="40" maxlength="255"  required="true" />
					</h:panelGroup>
					
					<h:panelGroup>
						<p:outputLabel value="Portaria IFPB" for="portaria" />
						<p:inputText value="#{cadastroColegiado.colegiado.portaria}" id="portaria" tabindex="2" size="40" maxlength="255"  required="true" />
					</h:panelGroup>
					
					<h:panelGroup>
						<p:outputLabel value="Data início" for="dataInicio" /><br />
						<p:calendar value="#{cadastroColegiado.colegiado.dataInicio}" id="dataInicio" style="line-height:18px" required="true" showOn="button" tabindex="3" size="20" />
					</h:panelGroup>
					<h:panelGroup>
						<p:outputLabel value="Data fim" for="dataFim" /><br />
						<p:calendar value="#{cadastroColegiado.colegiado.dataFim}" id="dataFim" style="line-height:18px" showOn="button" tabindex="4" size="20" />
					</h:panelGroup>
					
					<h:panelGroup>
						<p:outputLabel value="Curso" for="curso" /><br />
						<p:selectOneMenu value="#{cadastroColegiado.colegiado.curso}" id="curso" required="true">
							<f:converter converterId="CursoConverter"/>
							<f:selectItem noSelectionOption="true" itemLabel=" " itemValue="#{null}"></f:selectItem>
							<f:selectItems value="#{utilBean.cursosItens}" var="curso" itemLabel="#{curso.nome}" itemValue="#{curso}"/>
						</p:selectOneMenu>
					</h:panelGroup>
				</h:panelGrid>
			</p:panel>

			<br />
			<b:commandButton value="Salvar" action="#{cadastroColegiado.salvar}" icon-awesome="save" look="primary" />

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-curso:nome").focus();
				return false;
			})();
		</script>



	</ui:define>

</ui:composition>

</html>