<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">

		<h:form id="form-cad-membro">

			<h4 class="ifpb-title-form">
				<i class="fa fa-group" /> #{cadastroMembros.tituloForm}
			</h4>
			<div>
				<p:spacer height="30px" />
			</div>

			<p:messages errorStyle="color:red" infoStyle="color:blue" autoUpdate="true" closable="true" style="font-size: 12px;" />

			<p:panel header="Dados do membro de colegiado" styleClass="ifpb-painel-cadastro" style="width:65%;">
				<h:panelGrid columns="1" columnClasses="ifpb-painel-column,ifpb-painel-column" style="width:100%">
					<h:panelGroup>
						<p:outputLabel value="Tipo" for="tipo" />
						<br />
						<p:selectOneMenu value="#{cadastroMembros.membro.tipo}" id="tipo" >
							<p:ajax event="change" listener="#{cadastroMembros.mudeTipo}" update="form-cad-membro:nomeAutocomplete,form-cad-membro:tipo" />
							<f:selectItems value="#{utilBean.tipoMembroItens}" var="tipoMembro" itemLabel="#{tipoMembro.texto}" itemValue="#{tipoMembro}" />
						</p:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup id="nomeAutocomplete">
						<h:panelGroup rendered="#{cadastroMembros.membro.tipo eq 'ALUNO'}">
							<p:outputLabel value="Aluno" for="aluno" />
							<br />
							<p:autoComplete id="aluno" value="#{cadastroMembros.nomeAlunoSelecionado}"
								completeMethod="#{cadastroMembros.autoCompleteNomeAluno}" minQueryLength="3" maxlength="50" size="55"
								requiredMessage="Aluno deve ser preenchido." />
						</h:panelGroup>
						<h:panelGroup rendered="#{cadastroMembros.membro.tipo eq 'PROFESSOR'}">
							<p:outputLabel value="Professor" for="professor" />
							<br />
							<p:autoComplete id="professor" value="#{cadastroMembros.nomeProfessorSelecionado}"
								completeMethod="#{cadastroMembros.autoCompleteNomeProfessor}" minQueryLength="3" maxlength="50" size="55"
								requiredMessage="Professor deve ser preenchido." />
						</h:panelGroup>
					</h:panelGroup>

					<b:commandButton value="Salvar" action="#{cadastroMembros.salvar}" icon-awesome="save" look="primary" ajax="false"/>
				</h:panelGrid>
			</p:panel>

			<br />
			<b:row>
				<b:column span="6">
					<p:dataTable var="membro" value="#{cadastroMembros.colegiado.membros}">
						<p:column headerText="Nome">
							<h:outputText value="#{membro.nome}" />
						</p:column>
						<p:column headerText="Papel">
							<h:outputText value="#{membro.tipo.texto}" />
						</p:column>
						<p:column headerText="Operações" style="text-align:center;">
							<b:commandButton title="Excluir" iconAwesome="times" accesskey="e" size="sm" style-class="ifpb-button-table"
								action="#{cadastroMembros.excluir(membro)}" ajax="false"/>
						</p:column>
					</p:dataTable>
				</b:column>
			</b:row>

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-curso:nome").focus();
				return false;
			})();
		</script>



	</ui:define>

</ui:composition>

</html>