<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:b="http://bootsfaces.net/ui"
	xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">

		<p:messages errorStyle="color:red" infoStyle="color:blue" autoUpdate="true" closable="true" style="font-size: 12px;" />

		<h4 class="ifpb-title-form">
			<i class="fa fa-group" /> Cadastro de colegiados
		</h4>
		<div>
			<p:spacer height="30px" />
		</div>

		<h:form id="form-cad-colegiado">
			<b:commandButton value="Colegiado" action="/colegiado/cadastro?faces-redirect=true" ajax="false" icon-awesome="plus"
				look="primary" />

			<div>
				<p:spacer height="20px" />
			</div>

			<div>
				<h:outputLabel value="Curso: " for="curso" style="padding-right:5px;height:32px;vertical-align:middle;" />
				<p:selectOneMenu value="#{consultaColegiado.filtroColegiado.curso}" id="curso" onchange="submit()"
					update=":tabela-colegiado" valueChangeListener="#{consultaColegiado.filtrarColegiados}">
					<f:converter converterId="CursoConverter" />
					<f:selectItem noSelectionOption="true" itemLabel="Todos os cursos" itemValue="#{null}"></f:selectItem>
					<f:selectItems value="#{utilBean.cursosItens}" var="curso" itemLabel="#{curso.nome}" itemValue="#{curso}" />
				</p:selectOneMenu>
				<span style="padding-left:15px;"> 
					<p:selectBooleanCheckbox value="#{consultaColegiado.filtroAtivos}">
						<p:ajax update="form-cad-colegiado:tabela-colegiado" listener="#{consultaColegiado.filtrarAtivos}" />
					</p:selectBooleanCheckbox> Apenas colegiados ativos
				</span>
			</div>

			<p:dataTable var="colegiado" value="#{consultaColegiado.colegiados}" emptyMessage="Não há colegiados cadastrados"
				style="width:100%;font-size:0.9em;" id="tabela-colegiado" cellpadding="2">

				<p:column width="15%" headerText="Descrição">
					<h:outputText value="#{colegiado.descricao}" />
				</p:column>

				<p:column width="5%" headerText="Ativo" style="text-align:center;">
					<p:selectBooleanCheckbox value="#{colegiado.ativo}" disabled="true" />
				</p:column>

				<p:column width="15%" headerText="Vigência" style="text-align:center;">
					<h:outputText value="#{colegiado.dataInicio}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					 a 
					<h:outputText value="#{colegiado.dataFim}" redered="#{not empty colegiado.dataFim}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<h:outputText value="indefinido" styleClass="ifpb-no-data" rendered="#{empty colegiado.dataFim}" />

				</p:column>

				<p:column width="25%" style="text-align: left" headerText="Curso">
					<h:outputText value="#{not empty colegiado.curso ? colegiado.curso.nome : 'sem curso'}"
						styleClass="#{not empty colegiado.curso ? '' : 'ifpb-no-data'}" />
				</p:column>

				<p:column width="20%" headerText="Membros">
					<ul class="ifpb-membros-colegiado-ul">
						<ui:repeat value="#{colegiado.membros}" var="membro">
							<li><h:outputText value="#{membro.nome} (#{membro.papel})" /></li>
						</ui:repeat>
					</ul>
				</p:column>

				<p:column style="text-align: center" headerText=" ">
					<b:commandButton title="Editar colegiado" iconAwesome="edit" accesskey="e" size="sm"
						style-class="ifpb-button-table" action="#{consultaColegiado.editar(colegiado)}" />
					<b:commandButton title="Editar membros" iconAwesome="group" accesskey="g" size="sm" style-class="ifpb-button-table"
						action="#{consultaColegiado.cadMembros(colegiado)}" />
				</p:column>
			</p:dataTable>
		</h:form>

		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-curso:matricula").focus();
				return false;
			})();
		</script>

	</ui:define>

</ui:composition>

</html>