<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">
		<h:form id="form-cad-aluno">
			<h4 class="ifpb-title-form">
				<i class="fa fa-graduation-cap" /> #{cadastroAluno.tituloForm}
			</h4>
			<p:messages errorStyle="color:red" infoStyle="color:blue"
				autoUpdate="true" closable="true" style="font-size: 12px;" />
			<p:panel header="Dados do aluno" styleClass="ifpb-painel-cadastro" style="width:85%;">
				<h:panelGrid columns="2" columnClasses="ifpb-painel-column">
					<h:panelGroup>
						<p:outputLabel value="Matrícula IFPB" for="matricula" /><br/>
						<p:inputText id="matricula" tabindex="1"
							onkeypress="return apenas_numeros(event);" maxlength="11"
							value="#{cadastroAluno.aluno.matricula}" required="false" />
					</h:panelGroup>
					<h:panelGroup>
						<p:outputLabel value="Nome do aluno" for="nome" /><br/>
						<p:inputText id="nome" tabindex="2" size="90"
							value="#{cadastroAluno.aluno.nome}" required="true" />
					</h:panelGroup>
					<h:panelGroup>
						<p:outputLabel value="Email" for="email" /><br/>
						<p:inputText id="email" tabindex="3"
							value="#{cadastroAluno.aluno.email}"	required="true" />
					</h:panelGroup>
					<h:panelGroup>
						<p:outputLabel value="Fone" for="fone" /><br/>
						<p:inputText id="fone" tabindex="4"
							onkeypress="mascara(this,mtel)" maxlength="15"
							value="#{cadastroAluno.aluno.fone}" required="false" />
					</h:panelGroup>
				</h:panelGrid>
			</p:panel>
			<br/>
			<p:commandButton value="Salvar"
				action="#{cadastroAluno.salvar}" styleClass="ui-priority-primary"
				icon="fa fa-save" update="form-cad-aluno" style="font-size:1.1em"/>

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-aluno:matricula").focus();
				return false;
			})();
		</script>



	</ui:define>

</ui:composition>

</html>