<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">

		<p:messages errorStyle="color:red" infoStyle="color:blue"
			autoUpdate="true" closable="true" style="font-size: 12px;" />

		<h:form id="form-cad-aluno">
			<h4 class="ifpb-title-form">
				<i class="fa fa-graduation-cap" /> Cadastro de alunos
			</h4>
			<div><p:spacer height="30px" /></div>

			<b:commandButton value="Aluno" action="/aluno/cadastro?faces-redirect=true" ajax="false" icon-awesome="plus" look="primary"/>

			<div><p:spacer height="20px" /></div>

			<p:dataTable var="aluno" value="#{consultaAluno.alunos}" 
				emptyMessage="Não há coordenadores cadastrados" 
				style="width:75%;" styleClass="table table-striped table-bordered"  >
				<p:column width="10%" style="text-align: center" headerText="Matrícula">
					<h:outputText value="#{aluno.matricula}" />
				</p:column>

				<p:column width="45%" headerText="Nome">
					<h:outputText value="#{aluno.nome}" />
				</p:column>
				
				<p:column width="20%" headerText="Email">
					<h:outputText value="#{aluno.email}" />
				</p:column>
				
				<p:column width="15%" style="text-align: center" headerText="Fone">
					<h:outputText value="#{aluno.fone}" />
				</p:column>
				
				<p:column width="10%" style="text-align: center">
					<b:commandButton title="Editar aluno" icon="edit" accesskey="e" size="sm" style-class="ifpb-button-table"
						action="#{consultaAluno.editar(aluno)}" /> 
				</p:column>
			</p:dataTable>

			<br />

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-aluno:matricula").focus();
				return false;
			})();
		</script>

	</ui:define>

</ui:composition>

</html>