<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
<h:head>
	<title>Collegialis::Login</title>
	<meta name="author" content="Riccardo Massera"></meta>
	<link rel="shortcut icon" type="image/png"
		href="../resources/images/favicon.png" />
		
	<style type="text/css">
		.form-signin {
			margin: 0 auto;
			max-width: 330px;
			padding: 15px;
		}
		.navbar-brand {
			color:white !important;
		}
	</style>
	
</h:head>
<h:body style="padding-top: 60px">
	<b:navBar brand="Instituto Federal de Educação, Ciência e Tecnológica da Paraíba" brand-img-style="width:40px;vertical-align:baseline;" brand-img="../resources/images/logoifpbt.png" brand-href="http://www.ifpb.edu.br" fixed="top"
		fluid="true" style="background-color:#1F6012; color:white;">
	</b:navBar>
		<div align="center">
		<img src="../resources/images/collegialis-ifpb.png" /> 
	</div>
	<b:container fluid="true">
		<h:form styleClass="form-signin" prependId="false">
			<h4 class="form-signin-heading">Por favor, autentique-se!</h4>
			<h:messages layout="table" errorStyle="color:red"/>
			<b:inputText id="email" placeholder="Email IFPB" value="#{loginBean.usuario}" tooltip="Ex: fred@ifpb.edu.br" required="true" required-message="Email obrigatório">
				<f:facet name="prepend">
					<b:icon name="user" />
				</f:facet>
			</b:inputText>
			<b:inputText id="password" placeholder="Senha" type="password" value="#{loginBean.senha}" required="true" required-message="Senha obrigatória">
				<f:facet name="prepend">
					<b:iconAwesome name="key" />
				</f:facet>
			</b:inputText>
			<b:selectBooleanCheckbox value="true" caption="lembrar-me" />
			<b:commandButton look="primary btn-block" value=" Login"
				icon="log-in" size="lg" action="#{loginBean.autentique}"/>
		</h:form>
	</b:container>
</h:body>
</html>
