<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<f:facet name="first">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Collegialis</title>
	</f:facet>

	<f:facet name="middle">
		<!-- Bootstrap -->
		<h:outputStylesheet library="bootstrap" name="css/bootstrap.css"
			target="head" />
		<!-- Custom Theme Style -->
		<h:outputStylesheet library="gentellela" name="css/custom.min.css"
			target="head" />
	</f:facet>

	<f:facet name="last">
		<!-- Font Awesome -->
		<h:outputStylesheet library="font-awesome"
			name="css/font-awesome.css" target="head" />
		<!-- iCheck -->
		<h:outputStylesheet library="iCheck" name="css/green.css"
			target="head" />
		<h:outputScript library="jquery" name="js/jquery.min.js" target="body" />
		<h:outputScript library="bootstrap" name="js/bootstrap.min.js"
			target="body" />
		<!-- Javascript scripts -->
		<h:outputScript library="gentellela" name="js/custom.min.js"
			target="body" />
	</f:facet>
</h:head>

<h:body styleClass="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="index.html" class="site_title"><img
							src="resources/images/logot.png" width="30px;" /> <span>Collegialis</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile">
						<div class="profile_pic">
							<img src="resources/images/fred.jpg" alt="..."
								class="img-circle profile_img" />
						</div>
						<div class="profile_info">
							<span>Bem vindo,</span>
							<h2>Fred</h2>
						</div>
					</div>

					<div id="sidebar-menu"
						class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<h3>General</h3>
							<h:form>   
							<ul class="nav side-menu">
								<li><a><i class="fa fa-home"></i> Cadastro <span
										class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><h:link  outcome="/index?faces-redirect=true">Alunos</h:link></li>
										<li><a href="index2.html">Professores</a></li>
										<li><a href="index3.html">Cursos</a></li>
										<li><a href="index3.html">Assuntos</a></li>
									</ul></li>
								<li><a><i class="fa fa-edit"></i> Colegiado <span
										class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="form_validation.html">Criar colegiado</a></li>
										<li><a href="form.html">Planejar reunião</a></li>
										<li><a href="form_advanced.html">Realizar reunião</a></li>
									</ul></li>
							</ul>
							</h:form>
						</div>
					</div>
				</div>
			</div>



			<div class="top_nav">
				<div class="nav_menu">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>
						<h:form>
						<ul class="nav navbar-nav navbar-right">
							<li class=""><a href="javascript:;"
								class="user-profile dropdown-toggle" data-toggle="dropdown"
								aria-expanded="false"> <img src="resources/images/fred.jpg"
									alt="" />Fred <span class=" fa fa-angle-down"></span>
							</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right">
									<li><a href="javascript:;">Perfil</a></li>
									<li><a href="javascript:;"> <span
											class="badge bg-red pull-right">50%</span> <span>Configurações</span>
									</a></li>
									<li><a href="javascript:;">Ajuda</a></li>
									<li><a href="login.html"><i
											class="fa fa-sign-out pull-right"></i> Log Out</a></li>
								</ul></li>

							<li role="presentation" class="dropdown"><a
								href="javascript:;" class="dropdown-toggle info-number"
								data-toggle="dropdown" aria-expanded="false"> <i
									class="fa fa-envelope-o"></i> <span class="badge bg-green">6</span>
							</a>
								<ul id="menu1" class="dropdown-menu list-unstyled msg_list"
									role="menu">
									<li><a> <span class="image"><img
												src="resources/default/images/fred.jpg" alt="Profile Image" /></span>
											<span> <span>John Smith</span> <span class="time">3
													mins ago</span>
										</span> <span class="message"> Film festivals used to be
												do-or-die moments for movie makers. They were where... </span>
									</a></li>
									<li><a> <span class="image"><img
												src="resources/default/images/fred.jpg" alt="Profile Image" /></span>
											<span> <span>John Smith</span> <span class="time">3
													mins ago</span>
										</span> <span class="message"> Film festivals used to be
												do-or-die moments for movie makers. They were where... </span>
									</a></li>
									<li><a> <span class="image"><img
												src="resources/default/images/fred.jpg" alt="Profile Image" /></span>
											<span> <span>John Smith</span> <span class="time">3
													mins ago</span>
										</span> <span class="message"> Film festivals used to be
												do-or-die moments for movie makers. They were where... </span>
									</a></li>
									<li><a> <span class="image"><img
												src="resources/default/images/fred.jpg" alt="Profile Image" /></span>
											<span> <span>John Smith</span> <span class="time">3
													mins ago</span>
										</span> <span class="message"> Film festivals used to be
												do-or-die moments for movie makers. They were where... </span>
									</a></li>
									<li>
										<div class="text-center">
											<a> <strong>See All Alerts</strong> <i
												class="fa fa-angle-right"></i>
											</a>
										</div>
									</li>
								</ul></li>
						</ul>
						</h:form>
					</nav>
				</div>
			</div>
			<div class="right_col" role="main">
				<h1>Conteúdo principal...</h1>
				Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum
				Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren
				Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum
				Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren
				Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum
				Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren
				Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum
				Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren
				Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum
				Loren Ipsum Loren Ipsum Loren

			</div>
			<footer>
				<div class="pull-right">
					Gentelella - Bootstrap Admin Template by <a
						href="https://colorlib.com">Colorlib</a>
				</div>
				<div class="clearfix"></div>
			</footer>
		</div>
	</div>
</h:body>

</html>
