<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="templates/default.xhtml">

	<ui:define name="main">

		<h1>Collegialis</h1>

		<p>Sistema de gestão de processos de colegiado dos cursos do IFPB.</p>


		<h:form><p:inputText placeholder="buscar..."/></h:form>
		
		
		<h2>Principais funcionalidades</h2>

		<ul>
			<li>Cadastro de todos os processos do colegiado</li>
			<li>Cadastro de colegiados e seus membros</li>
			<li>Planejamento e secretariado de reuniões do colegiado</li>
			<li>Geração de atas de reuniões</li>
			<li>Elaboração de pareceres dos relatores</li>
			<li>Relatórios diversos</li>

		</ul>

	</ui:define>
</ui:composition>
</html>
