<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">

		<p:messages errorStyle="color:red" infoStyle="color:blue"
			autoUpdate="true" closable="true" style="font-size: 12px;" />

		<h:form id="form-cad-professor">
			<h4 class="ifpb-title-form">
				<i class="fa fa-comment-o" /> Cadastro de Professor
			</h4>
			<p:panel header="Novo professor" styleClass="ifpb-painel-cadastro"
				style="width:85%;">
				<h:panelGrid columns="2" columnClasses="ifpb-painel-column">
					<h:panelGroup>
						<p:outputLabel value="Matrícula SIAPE" for="matricula" />
						<br />
						<p:inputText id="matricula" tabindex="1"
							onkeypress="return apenas_numeros(event);"
							value="#{cadastroProfessor.professor.matricula}" required="true" />
					</h:panelGroup>
					<h:panelGroup>
						<p:outputLabel value="Nome do professor" for="nome" />
						<br />
						<p:inputText id="nome" tabindex="2" size="90"
							value="#{cadastroProfessor.professor.nome}" required="true" />
					</h:panelGroup>
					<h:panelGroup>
						<p:outputLabel value="Email do IFPB" for="email" />
						<br />
						<p:inputText id="email" tabindex="3"
							value="#{cadastroProfessor.professor.email}" required="true" />
					</h:panelGroup>
					<h:panelGroup>
						<p:outputLabel value="Fone" for="fone" />
						<br />
						<p:inputText id="fone" tabindex="4"
							onkeypress="mascara(this,mtel)" maxlength="15"
							value="#{cadastroProfessor.professor.fone}" required="true" />
					</h:panelGroup>
					<h:panelGroup>
						<p:outputLabel value="Curso" for="curso" /><br />
						<p:selectOneMenu value="#{cadastroProfessor.professor.curso}" id="curso" required="true">
							<f:converter converterId="CursoConverter"/>
							<f:selectItem noSelectionOption="true" itemLabel=" " itemValue="#{null}"></f:selectItem>
							<f:selectItems value="#{utilBean.cursosItens}" var="curso" itemLabel="#{curso.nome}" itemValue="#{curso}"/>
						</p:selectOneMenu>
					</h:panelGroup>
				</h:panelGrid>
			</p:panel>
			<br />
			<p:commandButton value="Salvar"
				action="#{cadastroProfessor.salvar}"
				styleClass="ui-priority-primary" icon="fa fa-save"
				update="form-cad-professor" style="font-size:1.1em" />

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-professor:matricula").focus();
				return false;
			})();
		</script>



	</ui:define>

</ui:composition>

</html>