<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">

		<p:messages errorStyle="color:red" infoStyle="color:blue"
			autoUpdate="true" closable="true" style="font-size: 12px;" />

		<h:form id="form-cad-professor">
			<h4 class="ifpb-title-form">
				<i class="fa fa-graduation-cap" /> Cadastro de professores
			</h4>
			<div><p:spacer height="30px" /></div>

			<b:commandButton value="Professor" action="/professor/cadastro?faces-redirect=true" ajax="false" icon-awesome="plus" look="primary"/>

			<div><p:spacer height="20px" /></div>
			
			<p:selectOneMenu value="#{consultaProfessor.filtroProfessor.curso}" id="curso" onchange="submit()"
					update=":tabela-professor" valueChangeListener="#{consultaProfessor.filtrarProfessores}">
					<f:converter converterId="CursoConverter" />
					<f:selectItem noSelectionOption="true" itemLabel="Todos os cursos" itemValue="#{null}"></f:selectItem>
					<f:selectItems value="#{utilBean.cursosItens}" var="curso" itemLabel="#{curso.nome}" itemValue="#{curso}" />
				</p:selectOneMenu>

			<p:dataTable var="professor" value="#{consultaProfessor.professores}" id="tabela-professor"
				emptyMessage="Não há professores cadastrados" 
				style="width:100%;" styleClass="table table-striped table-bordered" >
				<p:column width="15%" style="text-align: center" headerText="Matrícula">
					<h:outputText value="#{professor.matricula}" />
				</p:column>

				<p:column width="35%" headerText="Nome">
					<h:outputText value="#{professor.nome}" />
				</p:column>
				
				<p:column width="20%" headerText="Email">
					<h:outputText value="#{professor.email}" />
				</p:column>
				
				<p:column width="15%" style="text-align: center" headerText="Fone">
					<h:outputText value="#{professor.fone}" />
				</p:column>
				
				<p:column width="10%" style="text-align: center" headerText="Curso">
					<h:outputText value="#{professor.curso.sigla}" />
				</p:column>
				
				<p:column width="5%" style="text-align: center">
					<b:commandButton title="Editar professor" icon="edit" accesskey="e" size="sm" style-class="ifpb-button-table"
						action="#{consultaProfessor.editar(professor)}" /> 
				</p:column>
			</p:dataTable>

			<br />

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-professor:matricula").focus();
				return false;
			})();
		</script>

	</ui:define>

</ui:composition>

</html>