<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	>

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">
		<h:form id="form-cad-curso">
			<h4 class="ifpb-title-form">
				<i class="fa fa-graduation-cap" /> #{cadastroCurso.tituloForm}
			</h4>
			<div>
				<p:spacer height="30px" />
			</div>
			<p:messages errorStyle="color:red" infoStyle="color:blue" autoUpdate="true" closable="true" style="font-size: 12px;" />
			<p:panel header="Dados do curso" styleClass="ifpb-painel-cadastro" style="width:65%;">
				<h:panelGrid columns="2" columnClasses="ifpb-painel-column,ifpb-painel-column" style="width:100%">
					<h:panelGroup>
						<p:outputLabel value="Nome" for="nome" />
						<br />
						<p:inputText id="nome" tabindex="1" size="40" maxlength="255" value="#{cadastroCurso.curso.nome}" required="true" />
					</h:panelGroup>

					<h:panelGroup>
						<p:outputLabel value="Sigla" for="sigla" />
						<br />
						<p:inputText id="sigla" tabindex="2" size="20" value="#{cadastroCurso.curso.sigla}" required="true" />
					</h:panelGroup>

					<h:panelGroup>
						<p:outputLabel value="Coordenador atual" for="coordenador" style="color:gray"/>
						<br />
						<p:inputText value="#{cadastroCurso.curso.coordenador.nome}" id="coordenador" readonly="true" size="40" style="background-color:#f0f0f0"/>
					</h:panelGroup>

					<h:panelGroup>
						<p:outputLabel value="Colegiado atual" for="colegiado" style="color:gray"/>
						<br />
						<p:inputText value="#{cadastroCurso.curso.colegiado.descricao}" id="colegiado" readonly="true" size="40" style="background-color:#f0f0f0"/>
					</h:panelGroup>
				</h:panelGrid>
			</p:panel>
			<br />
			<p:commandButton value="Salvar" action="#{cadastroCurso.salvar}" styleClass="ui-priority-primary" icon="fa fa-save"
				ajax="false" style="font-size:1.1em" />

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-curso:nome").focus();
				return false;
			})();
		</script>



	</ui:define>

</ui:composition>

</html>