<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">

		

		<h:form id="form-cad-coordenador">
			<h4 class="ifpb-title-form">
				<i class="fa fa-edit" /> #{cadastroCoordenador.tituloForm}
			</h4>
			<div>
				<p:spacer height="30px" />
			</div>
			
			<b:well style="width:85%">
			<span style="font-size:11pt; color:#2A3F54;">Curso: <span style="font-weight:bold">#{cadastroCoordenador.curso.nome}</span></span>
			</b:well>
			
			<p:messages errorStyle="color:red" infoStyle="color:blue"
			autoUpdate="true" closable="true" style="font-size: 12px;" />
			<p:panel header="Dados do coordenador" styleClass="ifpb-painel-cadastro"
				style="width:85%;">
				<h:panelGrid columns="2" columnClasses="ifpb-painel-column,ifpb-painel-column">
					<h:panelGroup>
						<p:outputLabel value="Coordenador" for="professor" />
						<br />
						<p:selectOneMenu value="#{cadastroCoordenador.coordenador.professor}" id="professor" style="width:315px" tabindex="1"
							size="40" ajax="true" update="nome, matricula, professor">
							<f:converter converterId="ProfessorConverter" /> 
							<f:selectItem noSelectionOption="true" itemLabel=" " itemValue="#{null}" />
							<f:selectItems value="#{cadastroCoordenador.getProfessores(cadastroCoordenador.curso)}" var="prof" itemLabel="#{prof.nome}" itemValue="#{prof}" />
						</p:selectOneMenu><br/>
					</h:panelGroup> 
					
					<h:panelGroup />
					
					<h:panelGroup>
						<p:outputLabel value="Data início" for="dataInicio" /><br />
						<p:calendar id="dataInicio" style="line-height:18px" showOn="button" tabindex="2" size="20" value="#{cadastroCoordenador.coordenador.dataInicio}"/>
					</h:panelGroup>
					
					<h:panelGroup>
						<p:outputLabel value="Data fim" for="dataFim" /><br />
						<p:calendar id="dataFim" style="line-height:18px" tabindex="3" showOn="button"  size="20" value="#{cadastroCoordenador.coordenador.dataFim}" />
					</h:panelGroup>
					
					<h:panelGroup>
						<p:outputLabel value="Portaria" for="portaria" />	<br />
						<p:inputText id="portaria" tabindex="4" size="20" value="#{cadastroCoordenador.coordenador.numPortaria}" required="false" />
					</h:panelGroup>
					
				</h:panelGrid>
			</p:panel>
			<br />
			<p:commandButton value="Salvar"
				action="#{cadastroCoordenador.salvar}"
				styleClass="ui-priority-primary" icon="fa fa-save"
				update="form-cad-coordenador" style="font-size:1.1em" />

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-coordenador:professor").focus();
				return false;
			})();
		</script>



	</ui:define>

</ui:composition>

</html>