<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">

		<p:messages errorStyle="color:red" infoStyle="color:blue"
			autoUpdate="true" closable="true" style="font-size: 12px;" />

		<h:form id="form-cad-curso">
			<h4 class="ifpb-title-form">
				<i class="fa fa-graduation-cap" /> Cadastro de cursos
			</h4>
			<div><p:spacer height="30px" /></div>

			<b:commandButton value="Curso" action="/curso/cadastro?faces-redirect=true" 
				ajax="false" icon-awesome="plus" look="primary"/>
			
			<div><p:spacer height="20px" /></div>

			<p:dataTable var="curso" value="#{consultaCurso.cursos}" 
				emptyMessage="Não há cursos cadastrados" 
				style="width:80%;" styleClass="table table-striped table-bordered"  >

				<p:column width="35%" headerText="Nome">
					<h:outputText value="#{curso.nome}" />
				</p:column>
				
				<p:column width="10%" style="text-align: center" headerText="Sigla">
					<h:outputText value="#{curso.sigla}" />
				</p:column>
				
				<p:column width="20%" headerText="Coordenador atual">
					<h:outputText value="#{not empty curso.coordenador.nome ? curso.coordenador.nome : 'sem coordenador'}" 
						styleClass="#{not empty curso.coordenador.nome ? '' : 'ifpb-no-data'}"/>
				</p:column>
				
				<p:column width="20%" style="text-align: center" headerText="Colegiado atual">
					<h:outputText value="#{not empty curso.colegiado.id ? curso.colegiado.descricao : 'sem colegiado'}" 
						styleClass="#{not empty curso.colegiado.id ? '' : 'ifpb-no-data'}"/>
				</p:column>
				
				<p:column width="15%" style="text-align: center" headerText=" ">
					<b:commandButton title="Editar curso" iconAwesome="edit" accesskey="e" size="sm" style-class="ifpb-button-table"
						action="#{consultaCurso.editar(curso)}" /> 
				<b:commandButton title="Novo coordenador" iconAwesome="user-plus" accesskey="c" size="sm" style-class="ifpb-button-table"
						action="#{consultaCurso.criarCoord(curso)}" />  
				<b:commandButton title="Histórico de coordenadores" iconAwesome="history" accesskey="h" size="sm"
						style-class="ifpb-button-table" action="#{consultaCurso.mostrarHistCoord(curso)}" />
				</p:column>
			</p:dataTable>

			<br />

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-curso:matricula").focus();
				return false;
			})();
		</script>

	</ui:define>

</ui:composition>

</html>