<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/default.xhtml">

	<ui:define name="main">

		<p:messages errorStyle="color:red" infoStyle="color:blue" autoUpdate="true" closable="true" style="font-size: 12px;" />

		<h:form id="form-cad-coordenador">
			<h4 class="ifpb-title-form">
				<i class="fa fa-history" /> Histórico de coordenadores
			</h4>
			<div>
				<p:spacer height="30px" />
			</div>

			<b:commandButton value="Voltar" action="/curso/consulta?faces-redirect=true" ajax="false"
				icon-awesome="angle-left" look="primary" />

			<div>
				<p:spacer height="20px" />
			</div>
			
			<b:well style="width:85%">
				<span style="font-size:11pt; color:#2A3F54;">Curso: <span style="font-weight:bold">#{historicoCoordenador.historico[0].curso.nome}</span></span>
			</b:well>
		
			<p:dataTable var="coordenador" value="#{historicoCoordenador.historico}"
				emptyMessage="Não há histórico para este coordenador" style="width:85%;" 
				styleClass="table table-striped table-bordered">

				<p:column width="48%" headerText="Professor">
					<h:outputText value="#{coordenador.matricula} - #{coordenador.nome}" />
				</p:column>

				<p:column width="18%" style="text-align: center" headerText="Vigência do mandato">
					<h:outputText value="#{coordenador.dataInicio}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<h:outputText value=" a " />
					<h:outputText value="#{coordenador.dataFim}" rendered="#{coordenador.dataFim ne null}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<h:outputText value=" indefinida" rendered="#{empty coordenador.dataFim}" styleClass="ifpb-no-data"/>
				</p:column>

				<p:column width="13%" headerText="Portaria">
					<h:outputText value="#{coordenador.numPortaria}" />
				</p:column>

				<p:column width="10%" style="text-align: center" headerText=" ">
					<b:commandButton title="Excluir" iconAwesome="edit" accesskey="e" size="sm"
						style-class="ifpb-button-table" action="#{historicoCoordenador.excluir(coordenador)}" />
				</p:column>
			</p:dataTable>

			<br />

		</h:form>
		<script language="JavaScript" type="text/javascript">
			(function focusInit() {
				document.getElementById("form-cad-coordenador:matricula")
						.focus();
				return false;
			})();
		</script>

	</ui:define>

</ui:composition>

</html>